* {
  margin: 0;
  padding: 0;
}

.home {
  text-align: center;
  margin: 30px;
}


.main-category {
  display: flex;
  flex-direction: row;
}

.section-category {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: flex-start;
}

.section-category label {
  border: 1px solid pink;
  padding: 5px;
}

.section-products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
}

.section-products div {
  border: 1px solid pink;
  display: flex;
  max-width: 20%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
/* input products */

.input-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid pink; */
}

.input-products img {
  max-width: 100px;
  margin-left: 50px
}

.input-products div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  margin: 10px;
  border: 1px solid pink;
  padding: 20px;
}