* {
  color: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

.home {
  margin: 30px;
  text-align: center;
}


.main-category {
  display: flex;
  flex-direction: row;
}

.section-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}

.section-category label {
  border: 1px solid pink;
  padding: 5px;
}

.section-products {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.section-products div {
  align-items: center;
  border: 1px solid pink;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  height: 300px;
  justify-content: center;
  margin: 30px;
  max-width: 100%;
  text-align: center;
  width: 300px;
}

.section-products button {
  cursor: pointer;
  padding: 20px;
}

.input-products {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
}

.input-products img {
  max-width: 100px;
}

.input-products div {
  align-items: center;
  border: 1px solid pink;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  justify-content: center;
  margin: 10px;
  max-width: 20%;
  text-align: center;
  width: 250px;
}
